examples/stickers/Risorsa[[:space:]]38.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]40.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]43.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]44.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/KIP1.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]36.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]39.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]45.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]46.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]47.pdf filter=lfs diff=lfs merge=lfs -text
examples/example-layouts/E1.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]29.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]32.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]48.pdf filter=lfs diff=lfs merge=lfs -text
examples/example-layouts/E3.pdf filter=lfs diff=lfs merge=lfs -text
examples/example-layouts/E4.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/KIP2.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]30.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]34.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]35.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]41.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]42.pdf filter=lfs diff=lfs merge=lfs -text
examples/example-layouts/E2.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]31.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]33.pdf filter=lfs diff=lfs merge=lfs -text
examples/stickers/Risorsa[[:space:]]37.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D2.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D6.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D8.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B3.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B5.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B6.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D9.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B10.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C2.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C7.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A1.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A3.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A4.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B1.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B4.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C3.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C8.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C9.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D20.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D3.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A2.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B9.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C4.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D1.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D12.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D5.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B2.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B7.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C1.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D11.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D17.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A5.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A6.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C10.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C5.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/RETRO[[:space:]]CARTE[[:space:]]GIOCO[[:space:]]2[[:space:]]A-B-C.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D14.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D15.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D22.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D7.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A7.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/B8.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/C6.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D13.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D16.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D18.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D21.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D4.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A10.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A8.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]2[[:space:]]+[[:space:]]retro/A9.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D10.pdf filter=lfs diff=lfs merge=lfs -text
examples/notte-della-ricerca/Gioco[[:space:]]1[[:space:]]fronte[[:space:]]e[[:space:]]retro/D19.pdf filter=lfs diff=lfs merge=lfs -text
